name: TCA

on:
  push:
    branches:
      - master
  schedule:
    - cron: "0 0 * * 0"


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4
      - name: Login to Docker Hub
        run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
      - name: Build Docker Image
        run: docker build --no-cache -t muneebjutt121/tca-test .
      - name: Publish this image to docker hub
        run: docker push muneebjutt121/tca-test:latest

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.EC2_SSH_KEY }}

      - name: SSH into EC2 and run Certbot
        uses: appleboy/ssh-action@v1.0.3
        with: 
          host: ${{ secrets.EC2_IP }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            whoami
            sudo apt-get update
            sudo apt-get install -y software-properties-common
            sudo apt-get-repository universe
            sudo apt-get-repository ppa:certbot/certbot
            sudo apt-get update
            sudo apt-get install -y certbot

            sudo systemctl stop nginix || true
            sudo systemctl stop apache2 || true

            sudo certbot certonly --standalone --non-interactive --agree-tos --email muneebjutt026@gmail.com -d 	manolms.com

            CERT_PATH="/etc/letsencrypt/live/manolms.com/fullchain.pem"
            KEY_PATH="/etc/letsencrypt/live/manolms.com/privkey.pem"

            docker pull muneebjutt121/tca-test:latest
            docker rm -f tca-container
            docker run -d -p 80:80 -p 443:443 --name tca-container -v $CERT_PATH:/etc/letsencrypt/live/manolms.com/fullchain.pem -v $KEY_PATH:/etc/letsencrypt/live/manolms.com/privkey.pem  -e MONGO_CONNECTION='${{ secrets.MONGO_URI }}' -e PORT='${{ secrets.PORT }}' -e CLIENT_BASE_URL='${{secrets.CLIENT_BASE_URL}}' muneebjutt121/tca-test

 
  renew_ssl:
    needs: deploy
    runs-on: ubuntu-latest
    steps:
      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.EC2_SSH_KEY }}

      - name: SSH into EC2 and renew SSL
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_IP }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: | 
            sudo certbot renew --non-interactive
            docker restart tca-container